<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Confirmación de alquiler aprobado</title>
</head>
<body>
  <div style="max-width: 600px; margin: 0 auto;">
    <h1>Usted ha sido aprobado</h1>
    <div class="image-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/1024px-Yes_Check_Circle.svg.png" width="30%" height="20%" alt="Bicicleta">
      </div>
    <p>Estimado/a <span class="highlight">[Nombre del Cliente]</span>,</p>
    <p>Le informamos que su solicitud de alquiler ha sido aprobada.</p>
    <p>Detalles del alquiler:</p>
    <ul>
      <li><span class="highlight">Fecha de inicio:</span> [Fecha de Inicio]</li>
      <li><span class="highlight">Fecha de fin:</span> [Fecha de Fin]</li>
      <li><span class="highlight">Tipo de bicicleta:</span> [Tipo de Bicicleta]</li>
      <li><span class="highlight">Precio total:</span> [Precio Total]</li>
    </ul>
    <p>¡Gracias por elegir nuestro servicio de alquiler de bicicletas!</p>
    <div class="footer">
        <img class="footer-logo" src="assets/logo-horizontal.png" width="30%" height="30%" alt="Logo">
        <p class="footer-text">Atentamente,<br>
        [Tu Nombre]</p>
      </div>
  </div>
</body>
</html>
