<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Confirmación de alquiler rechazada</title>
</head>
<body>
  <div style="max-width: 600px; margin: 0 auto;">
    <h1>Su solicitud ha sido rechazada</h1>
    <div class="image-container">
        <img src="https://cdn.pixabay.com/photo/2012/04/02/16/12/x-24850_1280.png" width="20%" height="10%" alt="Bicicleta">
      </div>
    <p>Estimado/a <span class="highlight">[Nombre del Cliente]</span>,</p>
    <p>Le informamos que su solicitud de alquiler ha sido rechazada.</p>
    <p>Espero que te encuentre bien. Lamentablemente, tengo que informarte que tu solicitud de alquiler de bicicleta ha sido rechazada debido a discrepancias con el comprobante proporcionado.
        Después de revisar detenidamente los datos y la documentación adjunta, hemos identificado que el comprobante no concuerda con los requisitos necesarios para procesar tu solicitud. Lamentamos cualquier inconveniente que esto pueda haber causado.</p>
    <p>Llene el siguiente formulario para solicitar un alquiler: </p><a href="#">Formulario de solicitud Alquiler</a>
    <div class="footer">
        <img class="footer-logo" src="assets/logo-horizontal.png" width="30%" height="30%" alt="Logo">
        <p class="footer-text">Atentamente,<br>
            BICIBIO</p>
            <p class="footer-text">Santo Domingo <br>0999975039</p>
        <p>¡Gracias por elegir nuestro servicio de alquiler de bicicletas!</p>
      </div>
  </div>
</body>
</html>
