/* Estilos para el fondo y el formulario */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.card-body {
    padding: 20px;
}

/* Estilos para los campos de entrada */
.form-group label {
    font-weight: bold;
    color: #555;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
}

/* Estilos para el botón */
.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

/* Estilos para el enlace de "Olvidé mi contraseña" */
.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
