body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
.titulo{
    color: #023b6d;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor {
    max-width: 500px;
    margin: 0 auto;
    border: 4px groove #ccc;
    padding: 20px;
    margin-top: 50px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #bdc3c7; /* Color del borde */
    background-color: #ecf0f1; /* Color de fondo de entrada de texto */
}

.radio {
    margin-right: 5px;
}

p {
    margin: 5px 0;
}

.contenedor_capcha {
    margin-top: 20px;
}

.capcha label {
    display: block;
    margin-bottom: 10px;
    color: #3498db; /* Color para etiquetas */
}

.contenedor_boton {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #418e2c; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
    font-size: 12px;
}

/* Color de fondo de los últimos campos de entrada para evitar que floten */
.contenedor input[type="text"]:last-child,
.contenedor input[type="date"]:last-child {
    float: none;
    clear: both;
}
