

<div class="contenedor">
    <h1>Formulario de Alquiler de Bicicletas</h1>
        <form (ngSubmit)="save($event)" [formGroup]="form">
            <div>
                <div>
                    <label>Nombres y Apellidos*:</label>
                    <input type="text" formControlName="name">
                    <p>
                        <small *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
                            El campo es obligatorio
                        </small>
                    </p>
                </div>

                <div>
                    <label>Telefono*:</label>
                    <input type="text" formControlName="telefono">
                    <p>
                        <small *ngIf="form.get('telefono')?.hasError('required') && form.get('telefono')?.touched">
                            El campo es obligatorio
                        </small>

                        <small *ngIf="form.get('telefono')?.hasError('pattern') && form.get('telefono')?.touched">
                            Solo debes ingresar numeros
                        </small>

                        <small *ngIf="form.get('telefono')?.hasError('minlength') && form.get('telefono')?.touched">
                            Necesitas 10 digitos
                        </small>

                        <small *ngIf="form.get('telefono')?.hasError('maxlength') && form.get('telefono')?.touched">
                            Te pasaste de los 10 digitos
                        </small>
                    </p>
                </div>
            </div>

            

            <div>
                <div>
                    <label>Fecha de Alquiler*:</label>
                    <input type="date" formControlName="date">
                    <p>
                        <small *ngIf="form.get('date')?.hasError('required') && form.get('date')?.touched">
                            El campo es obligatorio
                        </small>
                    </p>
                </div>

                <div>
                    <label>Direccion*:</label>
                    <select formControlName="category">
                        <option value="Ecuador">Ecuador</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Perú">Perú</option>
                        <option value="USA">Estados Unidos</option>
                    </select>
                    <p>
                        <small *ngIf="form.get('category')?.hasError('required') && form.get('category')?.touched">
                            El campo es obligatorio
                        </small>
                    </p>
                </div>
            </div>
          


            <div>
                <div>
                    <label>Correo Electronico*:</label>
                    <input type="text" formControlName="email">
                    <p>
                        <small *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
                            El campo es obligatorio
                        </small>

                        <small *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
                            Introduce un correo válido
                        </small>

                        <small *ngIf="form.get('email')?.hasError('pattern') && form.get('email')?.touched">
                            El correo no es valido
                        </small>
                    </p>
                </div>



                <div>
                    <label>Tipo de Bicicletas*:</label>
                                
                    <div>
                        <label>Normal</label>
                        <input class="radio" type="radio" name="tipo" formControlName="tipo" value="normal">
                    </div>
                    <div>
                        <label>Montañera</label>
                        <input class="radio" type="radio" name="tipo" formControlName="tipo" value="montañera">
                    </div>
                    <div>
                        <label>Otro</label>
                        <input class="radio" type="radio" name="tipo" formControlName="tipo" value="Otro">
                    </div>
                    <p>
                        <small *ngIf="form.get('tipo')?.hasError('required') && form.get('tipo')?.touched">
                            El campo es obligatorio
                        </small>
                    </p>
                </div>

            </div>
           

            <div>
                
                <div>
                    <label>Selecione si es cliente fijo*:</label>
                                
                    <div>
                        <label>Si </label>
                        <input class="radio" type="radio" name="fijo" formControlName="fijo" value="normal">
                    </div>
                    <div>
                        <label>no</label>
                        <input class="radio" type="radio" name="fijo" formControlName="fijo" value="montañera">
                    </div>
                   
                    <p>
                        <small *ngIf="form.get('fijo')?.hasError('required') && form.get('fijo')?.touched">
                            El campo es obligatorio
                        </small>
                    </p>
                </div>


                <div>
                    <label>Numero de tarjeta de credito:</label>

                    <input type="text" formControlName="numtarjeta">

                    <p>
                        <small *ngIf="form.get('numtarjeta')?.hasError('required') && form.get('numtarjeta')?.touched">
                            El campo es obligatorio
                        </small>

                        <small *ngIf="form.get('numtarjeta')?.hasError('pattern') && form.get('numtarjeta')?.touched">
                            Solo debes ingresar numeros
                        </small>

                        <small *ngIf="form.get('numtarjeta')?.hasError('minlength') && form.get('numtarjeta')?.touched">
                            Debe ingresar 16 digitos
                        </small>

                        <small *ngIf="form.get('numtarjeta')?.hasError('maxlength') && form.get('numtarjeta')?.touched">
                            Te pasaste de los 10 digitos
                        </small>
                    </p>
                </div>

            </div>

            <div>

                <div>
                    <label>Fecha de Vencimiento:</label>
                    <input type="date" formControlName="vencimiento">
                    <p>
                        <small *ngIf="form.get('vencimiento')?.hasError('required') && form.get('vencimiento')?.touched">
                            El campo es obligatorio
                        </small>
                    </p>
                </div>

                
                <div>
                    <label>Nombre de la tarjeta de credito:</label>
                    <input type="text" formControlName="nametarjeta">
                    <p>
                        <small *ngIf="form.get('nametarjeta')?.hasError('required') && form.get('nametarjeta')?.touched">
                            El campo es obligatorio
                        </small>
                    </p>
                </div>
            </div>





            <div>
                <div>
                    <label>Codigo de seguridad:</label>
                    <input type="text" formControlName="seguridad">
                    <p>
                        <small *ngIf="form.get('seguridad')?.hasError('required') && form.get('seguridad')?.touched">
                            El campo es obligatorio
                        </small>
                        <small *ngIf="form.get('seguridad')?.hasError('minlength') && form.get('seguridad')?.touched">
                            Ingresar minimo 4  caracteres
                        </small>
                    </p>
                </div>
    
                <div>
                    <label>Total a pagar:</label>
                    <input type="text" formControlName="telefono">
                    <p>
                        <small *ngIf="form.get('telefono')?.hasError('required') && form.get('telefono')?.touched">
                            El campo es obligatorio
                        </small>
    
                        <small *ngIf="form.get('telefono')?.hasError('pattern') && form.get('telefono')?.touched">
                            Solo debes ingresar numeros
                        </small>
    
                        <small *ngIf="form.get('telefono')?.hasError('minlength') && form.get('telefono')?.touched">
                            Necesitas 10 digitos
                        </small>
    
                        <small *ngIf="form.get('telefono')?.hasError('maxlength') && form.get('telefono')?.touched">
                            Te pasaste de los 10 digitos
                        </small>
                    </p>
                </div>


            </div>
        

            <div class="contenedor_capcha">
                <div class="capcha">
                    <label>Terminos y Condiciones</label>
                    <re-captcha (resolved)="resolved($event)"
                        siteKey="6LdXWWcmAAAAAEBzP7kGaFJvNOUw6wJL7RGc6o4e"></re-captcha>
                </div>
            </div>

            <div class="contenedor_boton">
                <button [disabled]="form.invalid || !captchaValid" type="submit">ENVIAR</button>
            </div>

        </form>
    
</div>