<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Alquiler de bicicleta</title>
</head>
<body>
  <div style="max-width: 600px; margin: 0 auto;">
    <h1>Usted se ha registrado para alquilar bicicleta en</h1>
    <div class="image-container">
        <img src="assets/logo-cuadrado.png" width="30%" height="20%" alt="Bicicleta">
      </div>
    <p>Estimado/a <span class="highlight">[Nombre del Cliente]</span>,</p>
    <p>Le informamos que su solicitud esta en proceso.</p>
    <p>Detalles del alquiler:</p>
    <ul>
      <li><span class="highlight">Fecha de inscripción:</span> [Fecha de Inicio]</li>
      <li><span class="highlight">Tipo de bicicleta:</span> [Tipo de Bicicleta]</li>
      <li><span class="highlight">Precio total:</span> [Precio Total]</li>
    </ul>
    <p>¡Gracias por elegir nuestro servicio de alquiler de bicicletas!</p>
    <div class="footer">
      <img class="footer-logo" src="assets/logo-horizontal.png" width="30%" height="30%" alt="Logo">
      <p class="footer-text">Atentamente,<br>
          BICIBIO</p>
          <p class="footer-text">Santo Domingo <br>0999975039</p>
      <p>¡Gracias por elegir nuestro servicio de alquiler de bicicletas!</p>
    </div>
  </div>
</body>
</html>
